.imageWrapper {
	height: 714px;
	background: 
		linear-gradient(
		rgba($image-overlay-color, $image-overlay-transparency), 
		rgba($image-overlay-color, $image-overlay-transparency)
		   ),
		
		url($header-image);

	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
	border-radius: 0px 0px 40px 40px;

}

.icon {
	height:100px;
	width: 100px;
}

.legal > p {
	padding: 20px;
	text-align: center;
	color: #86868b;
}

.apps {
		flex-grow: 1;
		flex-direction: row;
		flex-wrap: wrap;
		margin-top: 11px;
	}

.app {
		display: flex;
		padding-top: 41px;
		padding-left: 0px;
		padding-right: 0px;
		width: 100%;
	}

.appText {
	margin-left: 18px;
}

.headerBackground {
	height: 60px;
	background-color: rgba($header-color, $header-transparency);
}

.pageHeaderBackground {
	background-color: #fff;
}

.container {					// Set up the container for the site content
	display: grid;
	margin: auto;
	max-width: $content-width;
	padding-left: 15px;
	padding-right: 15px;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 60px 876px auto auto;
	grid-column-gap: 30px;
	grid-template-areas: 
		"h h h h h h h h h h h h"
		"p p p p p i i i i i i i"
		"c c c c c c c c c c c c"
		"f f f f f f f f f f f f";
}

.pageContainer {
	grid-template-rows: 60px auto auto auto;
	background-color: #fff;
}

@media only screen and (max-width: 992px) {

	.container {
		grid-column-gap: 0px;
		grid-template-columns: 1;
		grid-template-rows: 60px auto auto auto auto;
		grid-template-areas: 
			"h h h h h h h h h h h h"
			"i i i i i i i i i i i i"
			"p p p p p p p p p p p p"
			"c c c c c c c c c c c c"
			"f f f f f f f f f f f f";
	}
}

.page {
	margin-top: 30px;
	margin-bottom: 70px;
	grid-column: 3/11;
}

@media only screen and (max-width: 768px) {

	.page {
		margin-top: 30px;
		margin-bottom: 70px;
		grid-column: 1/-1;
	}
	
} 

header {
	grid-area: h;
	display: flex;
	margin-right: -15px;
}

.logo {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 60px;
}

.logo > a {
	color: $header-title-color;
	white-space: nowrap;
	display: flex;
	font-weight: bold;
}

@media only screen and (max-width: 768px) {

	.logo > a {
		display: none;
	}
	
} 

.headerIcon {
	width: 50px;
	height: 50px;
	-webkit-clip-path: url(#shape);
	clip-path: url(#shape);
}

.scroll {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: flex-end;
	height: 60px;
	white-space: nowrap;
	overflow-x: auto;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: -ms-autohiding-scrollbar;
}

@media only screen and (max-width: 768px) {

	.scroll {
		height: 60px;
		justify-content: flex-start;
	}	
	
} 

.scroll::-webkit-scrollbar {
	display: none;
}


nav > ul {
	color: #fff;
	display: flex;
	list-style-type: none;

}

nav > ul li {
	padding-left: 30px;
}

@media only screen and (max-width: 768px) {

	nav > ul li {
		padding-left: 20px;
	}

}

nav > ul li:first-child {
	padding-left: 0px;
	padding-left: 15px;
}

nav > ul li:last-child {
	padding-right: 15px;
}

nav > ul li a:link,
nav > ul li a:visited {
	text-decoration: none;
	color: rgba($header-title-color, 0.6);
}

nav > ul li a:hover,
nav > ul li a:active {
	text-decoration: none;
	color: rgba($header-title-color, 1);
}

.pageHeaderBackground .logo > a {
	color: #000;
}

.pageHeaderBackground nav > ul li a:link,
.pageHeaderBackground nav > ul li a:visited {
	color: rgba(#000, 0.6);
}

.pageHeaderBackground nav > ul li a:hover,
.pageHeaderBackground nav > ul li a:active {
	color: rgba(#000, 1);
}

.info {
	grid-area: i;
	flex-wrap: wrap;
	padding-top: 140px;
	align-content: flex-start;
}

@media only screen and (max-width: 992px) {

	.info {
		padding-top: 50px;
		justify-content: center;
	}

} 

.sloganContainer {
	display: flex;
	flex: 0 1 auto;
	flex-direction: column;
	align-items: start;
	align-items: center;
	justify-content: center;
	margin-left: 50px;
	text-align: center;
}

.slogan {
	color: $slogan-title-color;
}

@media only screen and (max-width: 768px) {

	.sloganContainer {
		width: 100%;
		margin-left: 0px;
		justify-content: center;
	}

	.slogan {
		margin-top: 30px;
		text-align: center;
	}
} 

.linksContainer {
    grid-area: f;
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    text-align: center;
	margin-top: 150px;
	filter: $drop-shadow;
}

@media only screen and (max-width: 992px) {

	.linksContainer {
		text-align: center;
		margin-bottom: 350px;
	}
}

@media only screen and (max-width: 768px) {

	.linksContainer {
		margin-bottom: 300px;
	}
}  

.playStore {
	height: 75px;
	margin-right: 24px;
}

@media only screen and (max-width: 992px) {

	.playStore {
		margin-right: 24px;
		margin-bottom: 0px;
	}
	
} 

@media only screen and (max-width: 528px) {

	.playStore {
		margin-right: 0px;
		margin-bottom: 24px;
	}
	
} 

footer {
	padding-top: 40px;
	grid-area: f;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
}

.footerText {
	color: $footer-text-color;
	display: block;
	line-height: 1.5;
	width: 100%;
	text-align: center;
	padding-top: 70px;
	padding-bottom: 70px;
}

.footerLinks {
	grid-area: f;
	flex-wrap: wrap;
	justify-content: center;
	display: flex;
	text-align: center;
	padding-bottom: 40px;
}

.footerLinks a {
	margin-right: 30px;
}

.footerLinks a:last-child {
	margin-right: 0px;
}


@media only screen and (max-width: 768px) {

	.footerLinks {
		flex-direction: column;
	}

	.footerLinks a {
		justify-content: stretch;
		margin-right: 0px;
		margin-top: 20px;
	}

	.footerLinks a:first-child {
		margin-top: 0px;
	}	

}

@media only screen and (max-width: 992px) {
	
	.footerText {
		color: $footer-text-color;
		display: block;
		line-height: 1.5;
		width: 100%;
		text-align: center;
		padding-top: 54px;
		padding-bottom: 61px;
	}
	
	.footerIcons {
		padding-bottom: 70px;
		display: flex;
	}
	
} 

.hidden {
	display: none;
}
